<suite name="Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="com.java_selenium.listeners.TestListener" />
    </listeners>

    <test name="WebTests">
        <classes>
            <class name="com.java_selenium.tests.web_ui_tests.Alert_Tests"/>
        </classes>
    </test>
    <!--<test name="Test2">
        <classes>
            <class name="com.java_selenium.tests.db_tests.DB_Test_01"/>
        </classes>
    </test>-->

    <!--<test name="Hotel API Tests">
        <classes>
            <class name="com.java_selenium.tests.api_tests.Hotel_API_Test2"/>
        </classes>
    </test>-->
</suite>